@forward '../variables';

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  color: var(--color-primary);

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--color-primary);
  }

  &::before {
    margin-right: 0.5em;
  }

  &::after {
    margin-left: 0.5em;
  }
}
