@use '../variables' as *;

nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: $nav_height;
  margin-top: $nav_margin;
  margin-bottom: $nav_margin;

  > .logo {
    width: 4rem;
    height: 4rem;

    > img {
      width: inherit;
      height: inherit;
    }
  }

  > .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-left: auto;

    a.icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;

      > span {
        display: none;
      }
    }
  }
}
