@use '../variables' as *;

nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: $nav_height;
  margin-top: $nav_margin;
  margin-bottom: $nav_margin;

  > .photo {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    background-image: url(@img/photo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    > img {
      width: inherit;
      height: inherit;
    }
  }

  > .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-left: auto;

    a.icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;

      > span {
        display: none;
      }
    }
  }
}
