@forward '../variables';

article {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-bottom: 2rem;
  }

  > * {
    margin: 0;
  }

  > h4 {
    font-weight: 600;
  }

  > h4 + *,
  > div + * {
    margin-top: 0.5rem;
  }

  > h4 > span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  > .badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    gap: 0.5rem;

    > * {
      padding: 3px 8px;
      border-radius: 6px;
      border: 1px solid var(--color-text);
      transition: all 0.3s ease;

      &:hover {
        border-color: var(--color-primary);
        color: var(--color-primary);
      }
    }
  }
}

.languages {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  h4 {
    margin: 0;
  }
}
