@forward '../variables';
@use '../mixin' as *;

article {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-bottom: 2rem;
  }

  > * {
    margin: 0;
  }

  > h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  > h2 + *,
  > div + * {
    margin-top: 0.5rem;
  }

  > h2 > span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  > .badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    gap: 0.5rem;

    > * {
      @include btn;

      &:hover {
        background-color: inherit;
        color: var(--color-primary);
      }
    }
  }
}

.languages {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  h3 {
    font-size: 1rem;
    margin: 0;
  }
}
