.pdf-mode {
  .no-print {
    display: none !important;
  }

  nav > .links > a.icon {
    width: auto;

    > span {
      display: inline-block;
      margin-left: 0.1rem;
    }
  }

  .badges:not(.stack) {
    page-break-inside: avoid;
    break-inside: avoid;
    gap: 0;

    &::before {
      content: 'Stack: ';
      margin-right: 0.5rem;
      font-weight: 500;
    }

    > * {
      padding: 0;
      border: none;
      background-color: inherit;
      min-height: auto;

      &::after {
        content: ', ';
        margin-right: 0.5rem;
      }

      &:last-child::after {
        content: '.';
      }
    }
  }

  footer {
    display: none;
  }
}

// fix
.pdf-bottom-spacer {
  height: 60px;
  display: block;
}
