@use '../variables' as *;

@mixin generate-each-classes(
  $class-name: '.width-',
  $property: 'flex-basis',
  $values: $range-width
) {
  @each $v in $values {
    #{$class-name}#{$v} {
      @if $property == 'flex-basis' {
        flex-grow: 0;
        flex-shrink: 0;
      }
      #{$property}: #{$v}#{'%'};
    }
  }
}

@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}

@mixin row() {
  @include flex();
  flex-direction: row;
  width: 100%;
}

@mixin column() {
  @include flex();
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  overflow: hidden;

  @include generate-each-classes('&.w-', 'flex-basis');
  @include generate-each-classes('&.o-', 'margin-left');
}

// Spaccing classes
@mixin spacing-group($name, $property, $map) {
  @each $side, $value in $map {
    #{$name}-#{$side} {
      #{$property}-#{$side}: $value !important;
    }
  }

  // Horisontal (left + right)
  #{$name}-h {
    @extend #{$name}-left, #{$name}-right;
  }

  // Vertical (top + bottom)
  #{$name}-v {
    @extend #{$name}-top, #{$name}-bottom;
  }

  // All sides (top + bottom + left + right)
  #{$name} {
    @extend #{$name}-h, #{$name}-v;
  }
}
