@use 'sass:color';
@use '../variables' as *;

@mixin font() {
  font-family:
    'Roboto',
    'Helvetica Neue',
    'Helvetica',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Arial',
    sans-serif;
  // ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

// get contrast color based on lightness
@function getContrastColor($color, $light: $color-light, $dark: $color-dark) {
  $lightness: color.channel($color, 'lightness', $space: hsl);
  @if ($lightness > 50%) {
    @return $dark;
  } @else {
    @return $light;
  }
}

@function lightness($color, $lightness: 20%) {
  @return color.adjust($color, $lightness: $lightness);
}
@function darkness($color, $darkness: 20%) {
  @return color.adjust($color, $blackness: $darkness);
}
