@forward 'typography';
@forward 'grid';
@forward 'table';
@forward 'forms';

@mixin bordered($border, $sides...) {
  @each $side in $sides {
    border-#{$side}: $border;
  }
}

@mixin border-radius($radius, $sides...) {
  @each $side in $sides {
    border-#{$side}-radius: $radius;
  }
}
