@use 'variables' as *;
@use 'mixins/index.scss' as *;

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  @include font();
  color: var(--color-text);
  background-color: var(--color-light);
}
