@use 'variables' as *;
@use 'mixins/index.scss' as *;

@include generate-each-classes('.w-', 'width');

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  @include row();
}

.column {
  @include column();

  &.as-row {
    flex-direction: row;
  }
  &.as-column {
    flex-direction: column;
  }

  &.center-v {
    align-items: center;
  }
  &.center-h {
    justify-content: center;
  }
  &.center {
    @extend .center-h, .center-v;
  }
}

// Padding classes
@include spacing-group('.p', 'padding', $grid-padding);
// Margin classes
@include spacing-group('.m', 'margin', $grid-margin);
