@use 'variables' as *;

a {
  position: relative;
  color: $color-link;
  text-decoration: none;
  transition: $transition;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: $color-link;
    transform: scaleX(0);
    transform-origin: center;
    transition: $transition;
  }

  &:visited {
    color: $color-link-visited;
  }
  &:active {
    color: $color-link-active;
  }
  &:hover {
    color: $color-danger;

    &::after {
      transform: scaleX(1);
    }
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
  }

  a[disabled],
  a.disabled,
  a[aria-disabled='true'] {
    color: $color-link-disabled;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
  }
}
