@use 'variables' as *;
@use 'mixins/index.scss' as *;

table {
  @include table-collapse();
  border-spacing: 0;
  overflow-x: auto;
  width: 100%;
  text-align: left;

  tr {
    > th,
    > td {
      padding: 0.5rem 1rem;
      @include bordered($table-border, bottom);
    }

    > th {
      font-weight: 600;
    }
  }

  &.bordered {
    tr {
      > th,
      > td {
        @include bordered($table-border, bottom, right);
        &:first-child {
          @include bordered($table-border, left);
        }
      }

      &:first-child {
        > th,
        td {
          @include bordered($table-border, top);
        }
      }
    }

    > thead + tbody > tr:first-child > td {
      border-top: none;
    }
  }
  &.striped-always,
  &.striped:is(:not(:hover)) {
    > tbody > tr:nth-child(odd) {
      background-color: $color-background;
    }
  }
  &.hoverable {
    > tbody > tr:hover {
      background-color: $color-background;
    }
  }
  &.spaced {
    border-spacing: $table-spacing;
  }
}
