$color-primary: #9b4dca !default;
$color-secondary: #606c76 !default;
$color-border: #e0e0e0 !default;
$color-background: #f7f7f7 !default;

$range-width: 10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 100 !default;
$border: 0.1rem solid $color-border !default;
