@use 'sass:color';
@use 'sass:map';
@use '../variables' as *;
@use '../mixins' as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: $btn-padding;
  height: $btn-height;
  border-radius: $border-radius;
  border-width: 0.1rem;
  border-style: solid;
  transition: all 0.3s linear;

  @each $name, $values in $btn-colors {
    @include btn(
      '&.' + $name,
      map.get($values, 'bg'),
      map.get($values, 'border'),
      map.get($values, 'color')
    );
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}
