@use 'sass:color';
@use '../variables' as *;
@use '../mixins' as *;

$btn-bg: $color-primary;
$btn-border: $color-primary;
$btn-color: $color-white;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: $btn-padding;
  height: $btn-height;
  border-radius: $border-radius;
  border: 0.1rem solid $btn-border;
  background-color: $btn-bg;
  color: $btn-color;
  transition: all 0.3s linear;

  &.ghost,
  &.outlined {
    background-color: transparent;
    color: $color-primary;
  }

  &.ghost {
    border-color: transparent;
  }

  &.disabled,
  &:disabled {
    background-color: color.adjust($btn-bg, $lightness: 20%);
    border-color: color.adjust($btn-border, $lightness: 20%);
    color: $btn-color;
    cursor: not-allowed;
  }

  &.active,
  &:hover:is(:not(.disabled, :disabled)) {
    background-color: color.adjust($btn-bg, $blackness: 20%);
    border-color: color.adjust($btn-border, $blackness: 20%);
    color: $btn-color;
  }

  + .btn {
    margin-top: 1rem;
  }
}
