@use '../variables' as *;
@use '../mixins' as *;

input[type='checkbox'] {
  @include checkbox-base();
  border-radius: $checkbox-border-radius;

  &::after {
    content: '';
    position: absolute;
    display: none;
    left: calc(($checkbox-width - $checkbox-mark-width - $checkbox-mark-border-width) / 2);
    top: calc(($checkbox-height - $checkbox-mark-height - $checkbox-mark-border-width * 2) / 2);
    width: $checkbox-mark-width;
    height: $checkbox-mark-height;
    background-color: transparent;
    border: solid $color-light;
    border-width: 0 $checkbox-mark-border-width $checkbox-mark-border-width 0;
    transform: rotate(45deg);
  }

  &:checked::after {
    display: block;
  }
}

// input[type='radio'] {
//   @include checkbox-base();
//   border-radius: 50%;

//   &::after {
//     content: '';
//     position: absolute;
//     display: none;
//     top: 50%;
//     left: 50%;
//     border-radius: 50%;
//     width: $radio-mark-size;
//     height: $radio-mark-size;
//     background-color: $color-light;
//     transform: translate(-50%, -50%);
//   }

//   &:checked::after {
//     display: block;
//   }
// }
