@use 'variables' as *;

footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: $footer_height;
  margin-top: $footer_margin;
  border-top: 1px solid var(--color-primary);
}
