@forward 'variables';

footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 4rem;
  margin-top: 2rem;
  border-top: 1px solid var(--color-primary);
}
