@use 'variables' as *;

a {
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.3s ease;

  &.active,
  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

body {
  min-height: calc(100vh - 1rem);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-optical-sizing: auto;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  font-style: normal;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 1rem;
  padding-left: 1rem;
}

h1 + p {
  font-size: 1.25rem;
}

.right {
  margin-left: auto;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

button {
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--color-text);
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-light);
  }
}

main {
  min-height: calc(100vh - $nav_height - $footer_height - $nav_margin * 2 - $footer_margin);
}

@media only screen and (max-width: 1999px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
