@forward 'variables';

@mixin btn {
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--color-text);
  background-color: var(--color-background);
  color: var(--color-text);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-light);
  }
}
