*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}
