$colors: (
  primary: #745fb5,
  secondary: #3f3d56,
  background: #fafafc,
  text: #334455,
);

$fonts: (
  family: 'Ubuntu, sans-serif',
  weight: 400,
  size: 16px,
);

$container: 1200px;
$line-height: 1.5;

:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }

  @each $name, $value in $fonts {
    --font-#{$name}: #{$value};
  }

  --container: #{$container};
  --line-height: #{$line-height};
}
