:root {
  --bg: #111;
  --color: #ff851b;

  --font: "Ubuntu", sans-serif;
  --icon: "Material Icons";

  --int-1: 1rem;
  --int-1-5: 1.5rem;

  --header-font-size: 1.2rem;
  --header-height: 10vh;
  --header-padding: 0 var(--int-1-5);
}
