:root {
  --int-1: 1rem;
  --int-1-5: 1.5rem;

  --w: 1024px;
  --max-width: calc(var(--w) - var(--int-1) * 2);

  --bg: #111;
  --color: #ff851b;

  --font-family: "Ubuntu", sans-serif;
  --font-size: 1rem;
  --icon: "Material Icons";

  --small: 0.9rem;
  --h1: 2rem;
  --h3: var(--font-size);
}
