@import "fonts", "variables", "components/";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--color);
}

a,
a:hover,
a:focus {
  color: var(--color);
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

#app {
  max-width: 1024px;
  margin: auto;
}

[class^="material-icons"] {
  font-family: var(--icon);
}
