@import "fonts", "variables", "btn";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

html {
  scroll-behavior: smooth;
  // overflow: hidden;
  background-color: var(--bg);
  color: var(--color);
}

a,
a:hover,
a:focus {
  color: var(--color);
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

[class^="material-icons"] {
  font-family: var(--icon);
}

#app {
  max-width: var(--max-width);
  margin: 0 auto;

  > main {
    text-align: center;
    width: var(--max-width);
    height: calc(var(--max-height) - var(--header-height));

    > section {
      display: flex;
      height: inherit;

      > h1 {
        font-size: var(--h1);
        font-weight: 400;
      }
      > h3 {
        font-size: var(--h3);
      }
      > small {
        font-size: var(--small);
      }
    }
  }
}
