@import "fonts", "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--color);
}

a,
a:hover,
a:focus {
  color: var(--color);
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

[class^="material-icons"] {
  font-family: var(--icon);
}

#app {
  max-width: var(--max-width);
  margin: 0 auto;

  > main {
    text-align: center;

    > section {
      width: var(--max-width);
    }
  }
}
